.button-icon {
  color: var(--color-light-text);
  text-decoration: none;
  cursor: pointer;
}

.button-icon:hover {
  /* Changer couleur d'un SVG : https://stackoverflow.com/a/68695062 */
  color: var(--color-accentuation);
}
