.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  column-gap: clamp(48px, 5vw, 96px);
  animation: fade-right 0.5s ease-out both;
}

.navbar-links a {
  color: var(--color-primary);
  text-decoration: none;
}

.navbar .navbar-socials {
  animation: fade-left 0.5s ease-out both;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: relative;
    display: block;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;
  }

  .navbar-menu .navbar-socials {
    justify-content: flex-end;
    margin-top: 16px;
    column-gap: 16px;
  }

  .navbar-menu .navbar-links,
  .navbar-menu .navbar-socials {
    animation: none;
  }

  .navbar-menu {
    position: absolute;
    right: 0;
    width: fit-content;
    z-index: 1;
    margin-top: 16px;
    padding: 16px;
    background: var(--bg-menu);
    border-radius: var(--radius-small);
    animation: fade-left 0.25s ease-out both;
  }

  .navbar-menu .button {
    color: var(--rgb-light);
  }

  .navbar-menu.closing {
    animation: fade-out 0.25s ease-out both;
  }

  #akwd-button {
    width: 48px;
    animation: fade-right 0.5s ease-out both;
  }

  #menu-button {
    width: 24px;
    animation: fade-left 0.5s ease-out both;
  }
}
