.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: #191919;
}

.project-card {
  width: 50%;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}
