.media-carousel {
  position: relative;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
}

.media-carousel-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  pointer-events: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent 100px), linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent 100px);
}

.media-carousel-controls .button-icon {
  width: 48px;
  height: 48px;
}

.media-carousel-controls > * {
  pointer-events: auto;
}

.media-carousel-thumbnails {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

.media-carousel-thumbnails::-webkit-scrollbar {
  display: none;
}

.media-carousel-thumbnails img {
  height: 100%;
}

.media-carousel-video:hover,
.media-carousel-image:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

.media-carousel-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-carousel-video img {
  filter: brightness(0.6);
}

.media-carousel-play-icon {
  position: absolute;
  height: 30%;
  z-index: 1;
  pointer-events: none;
}
