#home-logo img {
  max-height: 480px;
  width: 25vw;
  border: 4px var(--color-light-text) solid;
  border-radius: 100%;
  cursor: help;
  transition: box-shadow 0.5s;

  animation: fade-right 0.5s ease-out 0.5s both;
}

#home-logo img:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 960px) {
  #home-logo {
    align-self: center;
  }

  #home-logo img {
    border-width: 2px;
  }
}
