#logo img {
  border-radius: 100%;
  border: 4px var(--color-text-light) solid;
  max-width: 480px;
  max-height: 480px;
  width: 25vw;
}

@media only screen and (max-width: 768px) {
  #logo {
    align-self: center;
  }

  #logo img {
    border-width: 2px;
  }
}
