.media-carousel-thumbnail {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 200ms;
}

.media-carousel-thumbnail:not(:last-child) {
  border-right: 1px solid transparent;
}

.media-carousel-thumbnail img {
  object-fit: cover;
}

.media-carousel-thumbnail[data-orientation="landscape"] img {
  aspect-ratio: 16 / 9;
  height: 100%;
}

.media-carousel-thumbnail[data-orientation="portrait"] img {
  width: 100px;
  height: 100%;
  object-position: top;
}

.media-carousel-thumbnail[data-type="video"] img {
  filter: brightness(0.6);
}

.media-carousel-thumbnail:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

.media-carousel-thumbnail .loading-icon {
  position: absolute;
  height: 64px;
  width: 64px;
  z-index: -1;
}

.media-carousel-thumbnail .play-icon {
  position: absolute;
  height: 30%;
  z-index: 1;
  color: var(--color-light);
}
