.project-details {
  position: fixed;
  height: 80vh;
  width: clamp(0px, 80vw, 1100px);
  display: flex;
  flex-direction: column;
  background: var(--background-radial);
  border-radius: var(--radius-large);
  overflow: hidden;
}

.project-details-header {
  padding: 24px 32px;
  background: var(--background-header);
}

.project-details-content {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  height: 100%;
}

.project-details-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.project-details-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.project-details-links .button-icon {
  width: 32px;
  height: 32px;
}

.project-details-description {
  height: 0;
  flex: 1 0 auto;
  overflow-y: auto;
}

#close-details-button {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .project-details {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .project-details-header {
    padding: 24px;
  }

  .project-details-content {
    padding: 24px;
  }

  .project-details-links .button-icon {
    width: 24px;
    height: 24px;
  }

  #close-details-button {
    width: 32px;
    height: 32px;
  }
}
