/* -------------------------------------------------------------------------- */
/*                             Tailles dynamiques                             */
/* -------------------------------------------------------------------------- */

/* --------------------------- Calcul des tailles --------------------------- */

/* Variables des tailles. */
.home {
  /**
   * Pour avoir une taille dynamique de police :
   *  - on utilise les unités vw et vh pour mettre à l'échelle selon la taille du viewport
   *  1) on indique une taille min. police (px) à ne pas dépasser lors de la mise à l'échelle,
   *  2) on indique une taille max. police (px) à ne pas dépasser lors de la mise à l'échelle,
   *  3) on met à l'échelle la taille max. selon la longueur du viewport (vw),
   *  4) on met à l'échelle la taille max. selon la hauteur du viewport (vh).
   *  => il suffit ensuite d'utiliser la mise à l'échelle en vw ou vh obtenue comme taille de police.
   *
   * Formules de mise à l'échelle :
   *  - par rapport à la longueur du viewport : vw = 100 * (taille max. en px / long. max. viewport en px)
   *  - par rapport à la hauteur du viewport : vh = 100 * (taille max. en px / haut. max. viewport en px)
   *  et on clamp(taille min. ; vw ou vh ; taille max.) pour rester dans l'intervalle de taille min-max.
   */

  /* Longueur max. (px) de référence du viewport pour le calcul de la mise à l'échelle.  */
  --vw-max: 1915;
  /* Hauteur max. (px) de référence du viewport pour le calcul de la mise à l'échelle. */
  --vh-max: 933;

  --fs-h1-min: 34;
  --fs-h1-max: 96;
  --fs-h1-vw: clamp(var(--fs-h1-min) * 1px, calc(100 * (var(--fs-h1-max) / var(--vw-max))) * 1vw, var(--fs-h1-max) * 1px);
  --fs-h1-vh: clamp(var(--fs-h1-min) * 1px, calc(100 * (var(--fs-h1-max) / var(--vh-max))) * 1vh, var(--fs-h1-max) * 1px);

  --fs-h2-min: 18;
  --fs-h2-max: 34;
  --fs-h2-vw: clamp(var(--fs-h2-min) * 1px, calc(100 * (var(--fs-h2-max) / var(--vw-max))) * 1vw, var(--fs-h2-max) * 1px);
  --fs-h2-vh: clamp(var(--fs-h2-min) * 1px, calc(100 * (var(--fs-h2-max) / var(--vh-max))) * 1vh, var(--fs-h2-max) * 1px);

  --fs-h3-min: 18;
  --fs-h3-max: 20;
  --fs-h3-vw: clamp(var(--fs-h3-min) * 1px, calc(100 * (var(--fs-h3-max) / var(--vw-max))) * 1vw, var(--fs-h3-max) * 1px);
  --fs-h3-vh: clamp(var(--fs-h3-min) * 1px, calc(100 * (var(--fs-h3-max) / var(--vh-max))) * 1vh, var(--fs-h3-max) * 1px);

  --fs-body-min: 14;
  --fs-body-max: 16;
  --fs-body-vw: clamp(var(--fs-body-min) * 1px, calc(100 * (var(--fs-body-max) / var(--vw-max)) * 1vw), var(--fs-body-max) * 1px);
  --fs-body-vh: clamp(var(--fs-body-min) * 1px, calc(100 * (var(--fs-body-max) / var(--vh-max)) * 1vh), var(--fs-body-max) * 1px);

  --fs-button-min: 14;
  --fs-button-max: 16;
  --fs-button-vw: clamp(var(--fs-button-min) * 1px, calc(100 * (var(--fs-button-max) / var(--vw-max))) * 1vw, var(--fs-button-max) * 1px);
  --fs-button-vh: clamp(var(--fs-button-min) * 1px, calc(100 * (var(--fs-button-max) / var(--vh-max))) * 1vh, var(--fs-button-max) * 1px);
}

/* Mise à l'échelle (quand grand écran) selon la longueur et la hauteur du viewport. */
.home {
  --fs-h1: min(var(--fs-h1-vw), var(--fs-h1-vh));
  --fs-h2: min(var(--fs-h2-vw), var(--fs-h2-vh));
  --fs-h3: min(var(--fs-h3-vw), var(--fs-h3-vh));
  --fs-body: min(var(--fs-body-vw), var(--fs-body-vh));
  --fs-button: min(var(--fs-button-vw), var(--fs-button-vh));

  --section-padding: clamp(24px, 6vh, 64px) clamp(32px, 8.3vw, 160px);
}

/* Mise à l'échelle (quand petit écran) uniquement selon la longueur du viewport. */
@media screen and (max-height: 650px), screen and (max-width: 768px) {
  .home {
    --fs-h1: var(--fs-h1-vw);
    --fs-h2: var(--fs-h2-vw);
    --fs-h3: var(--fs-h3-vw);
    --fs-body: var(--fs-body-vw);
    --fs-button: var(--fs-button-vw);

    --section-padding: clamp(24px, 3.3vw, 64px) clamp(32px, 8.3vw, 160px);
  }
}

/* ------------------------- Application des tailles ------------------------ */

.home {
  padding: var(--section-padding);
  font-size: var(--fs-body);
}

.home h1 {
  font-size: var(--fs-h1);
}

.home h2 {
  font-size: var(--fs-h2);
}

.home h3 {
  font-size: var(--fs-h3);
}

.home .button {
  font-size: var(--fs-button);
}

/* -------------------------------------------------------------------------- */
/*                                Mise en page                                */
/* -------------------------------------------------------------------------- */

.home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--img-bg-noise), var(--img-bg-pattern), var(--bg-content);
  background-repeat: repeat, no-repeat, no-repeat;
  background-position: top left, bottom left, top left;
  background-size: auto, 80%, 100%;
}

.home-background::after {
  /* Flouter l'arrière-plan de la section. */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.home-content {
  display: flex;
}

.home-content-info {
  width: 60%;
  margin-left: 64px;
  animation: fade-left 1s ease-out 0.75s both;
}

.home-title-greetings {
  margin: 0;
}

.home-title-greetings span {
  color: var(--color-accentuation);
  text-shadow: 0px 0px 30px rgba(var(--rgb-accentuation), 50%);
}

.home-title-job {
  margin-top: 8px;
  color: rgba(var(--rgb-primary), 40%);
}

.home-content-slider {
  margin-top: 64px;
}

.home-bottom {
  align-self: center;
  text-align: center;
  animation: fade-up 0.5s ease-out both 1.5s;
}

.home-bottom .icon {
  width: 40px;
  height: 40px;
}

/* Point de cassure : (mode petit écran) layout par ligne et plus par colonne. */
@media screen and (max-width: 960px) {
  .home-content {
    flex-direction: column;
  }

  .home-content-info {
    margin-left: 0;
    margin-top: 32px;
    width: 100%;
  }

  .home-content-title {
    text-align: center;
  }

  .home-content-slider {
    margin-top: 32px;
  }
}

/* Points de cassure : où la section ne remplit plus l'entièreté du viewport. */
@media screen and (max-width: 960px) and (max-height: 880px), screen and (max-height: 650px), screen and (max-width: 768px) {
  .home {
    height: auto;
    row-gap: 64px;
  }
}
