.project-popup {
  position: fixed;
  background: var(--background-radial);
  width: clamp(0px, 80vw, 1100px);
  border-radius: 20px;
  overflow: hidden;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.project-popup-header {
  background: var(--background-header);
  padding: 24px 32px;
}

.project-popup-content {
  padding: 24px 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-popup-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.project-popup-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.project-popup-description {
  overflow-y: auto;
  flex: 1 0 auto;
  height: 0;
}

@media only screen and (max-width: 768px) {
  .project-popup {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .project-popup-header {
    padding: 24px;
  }

  .project-popup-content {
    padding: 24px;
  }
}
