.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 32px;
  border-top: 1px var(--color-light-text) solid;
  text-align: center;
  background: var(--background-radial);
}

@media screen and (max-width: 768px) {
  .page-footer {
    padding: 24px 8px;
  }
}
