/* -------------------------------------------------------------------------- */
/*                             Variables globales                             */
/* -------------------------------------------------------------------------- */

:root {
  /* Couleurs. */
  --color-background: #181311;
  --color-light-text: #f5f5f5;
  --color-dark-text: #0a0a0a;
  --color-accentuation: #f99418;
  --rgb-accentuation: 249, 148, 24;

  /* Dégradés d'arrière-plan. */
  --background-radial: radial-gradient(ellipse at 0 0, rgb(39, 36, 31), rgb(4, 4, 4));
  --background-header: radial-gradient(ellipse at 0 0, rgba(249, 91, 24, 0.5), rgba(249, 91, 24, 0.8));

  /* Rayons de bordure. */
  --radius-large: 20px;
  --radius-small: 5px;
}

/* -------------------------------------------------------------------------- */
/*                           Définition des polices                           */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "Roboto Regular";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(fonts/Roboto-Light.ttf);
}

/* -------------------------------------------------------------------------- */
/*                              Classes globales                              */
/* -------------------------------------------------------------------------- */

.title-1 {
  font-family: "Roboto Light", sans-serif;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px;
}

.title-2 {
  font-family: "Roboto Regular", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.title-4 {
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.body-2 {
  font-family: "Roboto Regular";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.button {
  font-family: "Roboto Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 200ms;
}

.button:hover {
  color: var(--color-accentuation);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .title-1 {
    font-family: "Roboto Regular", sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25px;
  }

  .title-2 {
    font-family: "Roboto Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
  }

  .title-4 {
    font-family: "Roboto Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Styles par défaut                             */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);

  /* Police par défaut. */
  font-family: "Roboto Regular";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--color-light-text);
}

a {
  color: var(--color-accentuation);
}

li {
  margin-top: 8px;
  list-style-image: url(imgs/icons/list-marker.svg);
  list-style-position: inside;
}

::selection {
  color: var(--color-dark-text);
  background: var(--color-accentuation);
}

@media screen and (max-width: 768px) {
  body {
    font-family: "Roboto Regular";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}

/* -------------------------- Conteneur des popups -------------------------- */

#popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: background-color 0.25s ease-in-out, backdrop-filter 0.25s ease-in-out;
}

#popup:empty {
  pointer-events: none;
  background-color: transparent;
  backdrop-filter: none;
}

/* ----------------------- Conteneur des notifications ---------------------- */

#notification {
  position: fixed;
  right: 48px;
  bottom: 64px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  #notification {
    right: 0;
    left: 0;
    bottom: 32px;
    margin: 0 16px;
    align-items: center;
  }
}

/* --------------------------- Barre de défilement -------------------------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: var(--radius-small);
  margin: 4px 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-small);
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* -------------------------------------------------------------------------- */
/*                                 Animations                                 */
/* -------------------------------------------------------------------------- */

/* Animation de glissement vers le haut. */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Animation de glissement vers la gauche. */
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Animation de glissement et fondu vers la gauche. */
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(5vw);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Animation de glissement et fondu vers la droite. */
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation de glissement et fondu vers le haut. */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation de glissement et fondu vers le bas. */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation de fondu de disparition. */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Animation de glissement et fondu vers la droite très faible. */
@keyframes tiny-fade-right {
  0% {
    opacity: 0;
    transform: translateX(-1%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation d'agrandissement. */
@keyframes grow {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

/* Animation de rétrécissement. */
@keyframes shrink {
  0% {
    scale: 1;
  }

  100% {
    scale: 0;
  }
}

