.media-viewer {
  display: flex;
  align-items: center;
}

.media-viewer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--radius-large);
  background: var(--bg-content);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 20%);
}

.media-viewer-media[data-type="image"] {
  max-width: 75vw;
  max-height: 80vh;
}

.media-viewer-media[data-type="video"] {
  width: 75vw;
  height: 80vh;
}

.media-viewer-controls {
  display: flex;
  align-items: center;
}

.media-viewer-controls .button-icon {
  position: absolute;
  color: var(--color-light);
}

#media-viewer-previous,
#media-viewer-next {
  min-width: 32px;
  width: 4%;
}

#media-viewer-previous {
  left: 4%;
}

#media-viewer-next {
  right: 4%;
}

#media-viewer-close {
  top: 4%;
  right: 4%;
  min-width: 24px;
  width: 3%;
}

.media-viewer[data-state="opening"] .media-viewer-content {
  animation: grow 0.25s ease-in-out both;
}

.media-viewer[data-state="closing"] .media-viewer-content {
  animation: shrink 0.25s ease-in-out both;
}

.media-viewer[data-state="opening"] .media-viewer-controls {
  animation: fade-in 0.25s ease both;
}

.media-viewer[data-state="closing"] .media-viewer-controls {
  animation: fade-out 0.25s ease both;
}

.media-viewer-content .loading-icon {
  position: absolute;
  height: 64px;
  width: 64px;
  z-index: 1;

  /* Inverser la couleur de l'icône avec l'arrière-plan. */
  filter: invert(50%);
  mix-blend-mode: difference;
}
